table {
    font-family: Verdana, sans-serif;
    border-collapse: separate;
    width: 80%;
  }
  
  td, th {
    border: 2px solid #792d2d;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #b6d7e4;
  }
  /* odd = impar 
  even = par */